<div class="sign-up-in">
  <div class="sign-main">
    <h2 class="sign-up-in-word">sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
      <i class="fas fa-envelope"></i>
        <%= f.email_field :email, placeholder: "Email Address",autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
      <i class="fas fa-key"></i>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>