<body class="new-body">
  <div class= "main-new">
    <div class= "main-new2">
      <%=form_with model: @tweet,local: true do |f|%>

        <%# タイトル%>
        <div class="show-title">
        タイトル
        <%= f.text_field :title, placeholder:"今回のキャンプを一言で！"%>
        </div>

        <%# 訪問日%>
        <div class="show-title">日付
          <%= f.date_field :start_time, id:"start-time", class: "date-space"%>
        </div>

        <%# キャンプ場の場所%>
        <div class="show-title">
        訪問先
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name) %>
        <div>
          <%= f.text_field :place, id:"place", class: "camping-place"%>
        </div>

        <%# メンバーとの写真%>
        <div class="show-title-sub">
        今日のキャンパー達
        </div>
          <%= f.file_field :image, id:"image" %>

        <%# アイテム紹介%>
        <div class="show-title-sub">
        今日のアイテム
        </div>
          <%=f.file_field :item_image, id:"item-photo" %>

        <%# キャンプの様子%>
        <div class="show-title-sub">
        思い出を残そう！
        </div>
          <%= f.file_field :images, id:"images" %>

        <%# 欲しいものリスト%>
        <div class="show-title">
          欲しいものリスト
        </div>
        <%= f.text_field :wanted_list,placeholder:"欲しいなと思ったもの", class: "wanted-list"%>
        <div class="submit-button">
          <%= f.submit%>
        </div>
      <%end%>
    </div>
  </div>
</body>