<body class="index-body">
  <div class='foto-contents'>
    <h2 class='title'>最近のキャンプ</h2>
    <div class="previews">
      <ul class="autoplay">
        <% @tweets.last(10).each do |tweet|%>
          <li class='foto-list'>
            <%= link_to tweet_path(tweet.id) do %>
              <% if tweet.image.attached?%>
                <div><%= image_tag tweet.image, class: "foto-img" %></div>
                <div class="foto-content"><%= tweet.title%></div>
              <% end %>
            <%end%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<%# キャンプ場名 %>
  <div class='place-contents'>
      <h2 class='title'>キャンプ場名</h2>
      <ul class='place-lists'>
        <% @tweets.last(6).each do |tweet|%>
          <li class='list'>
            <%= link_to tweet_path(tweet.id) do %>
              <div class='place-name'>
                <h3> <%= tweet.place %> </h3>
              </div>
            <%end%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<%# カレンダー %>
  <%= month_calendar events:@tweets do | date, tweets| %>
    <%= date.day %>
    <% tweets.each do |tweet| %>
      <div>
        <%= link_to tweet.title, tweet, class:"calender-contents" %>
      </div>
    <% end %>
  <% end %>

<%# 欲しいものリスト%>
  <div class='wanted-contents'>
    <h2 class='title'>欲しいものリスト</h2>

  <%# リスト表示 %>
      <div class='item-lists'>
        <% @tweets.last(8).select do |tweet|%>
          <% if tweet.wanted_list!="" %>
            <div class='item-info'>
              <%= tweet.wanted_list %>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>

  <%# google検索・結果表示 %>
  <div class="google">
    <script async src="https://cse.google.com/cse.js?cx=ee7493856c23b6f7f"></script>
    <div class="gcse-searchbox-only"></div>
    <div class="google-result">
      <script async src="https://cse.google.com/cse.js?cx=ee7493856c23b6f7f"></script>
      <div class="gcse-searchresults-only"></div>
    </div>
  </div>
</body>