<h3><%= current_user.nickname%> さん</h3>
<%= link_to '新規投稿', new_tweet_path(current_user.id), class: "subtitle" %>

<div class='item-contents'>
    <h2 class='title'>最近のキャンプ</h2>
    <%= link_to '詳細', '#', class: "subtitle" %>
    <ul class='item-lists'>
      <% @tweets.each do |tweet|%>
        <li class='list'>
          <%= link_to tweet_path(tweet.id) do %>
            <div class='item-img-content'>
              <% if tweet.image.attached?%>
                <div><%= image_tag tweet.image, class: "item-img" %></div>
                <div><%= tweet.title%></div>
              <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%#= image_tag "member.image" %>
              </h3>
              <div class='item-price'>
                <span><%#= comment.images.attached? %></span>
              </div>
            </div>
          <%end%>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='item-contents'>
    <h2 class='title'>キャンプ場名</h2>
    <ul class='item-lists'>
      <% @members.each do |member|%>
        <li class='list'>
          <%= link_to tweet_path(member.tweet_id) do %>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= member.place %>
              </h3>
            </div>
          <%end%>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= month_calendar events:@tweets do | date, tweets| %>
  <%= date.day %>

  <% tweets.each do |tweet| %>
    <div>
      <%= link_to tweet.title, tweet %>
    </div>
  <% end %>
<% end %>

<div class='item-contents'>
    <h2 class='title'>欲しいものリスト</h2>
<script async src="https://cse.google.com/cse.js?cx=ee7493856c23b6f7f"></script>
<div class="gcse-searchbox-only"></div>
<script async src="https://cse.google.com/cse.js?cx=ee7493856c23b6f7f"></script>
<div class="gcse-searchresults-only"></div>
    <%= link_to '詳細', '#', class: "subtitle" %>
    <ul class='item-lists'>
      <% @comments.each do |comment|%>
        <li class='list'>
          <%= link_to tweet_path(comment.tweet_id) do %>
            <div class='item-img-content'>
              <%#= image_tag 'comment.wanted_list', class: "item-img" %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
              <% if comment.wanted_list.present? %>
                <%= comment.wanted_list %>
              <% end %>
              </h3>
            </div>
          <%end%>
        </li>
      <% end %>
    </ul>
  </div>
</div>



<%= link_to '#', class: 'purchase-btn' do %>
  <span class='purchase-btn-text'>出品する</span>
  <%#= image_tag '#' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>




<%unless '#'%>
      <li class='list'>
        <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                商品を出品してね！
              </h3>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <%#= image_tag '#', class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        <%end%>