<%=form_with url: tweets_path(current_user.id), local: true do |f|%>

  <%# タイトル%>
  <div>
  タイトル
  </div>
  <%= f.text_field :title%>


  <%# 訪問日%>
  <div>日付
    <%= f.date_field :start_time, id:"start-time"%>
  </div>

  <%# メンバーとの写真%>
  <div>
  今日のキャンパー達
  </div>
  <div>
  クリックしてアップロード
  </div>
  <%= f.file_field :image, id:"image" %>
    <%# if @tweet.image.attached? %>
     <%#= image_tag @tweet.image %>
    <%#end%>

  <%# アイテム紹介%>
  <div>
  今日のアイテム
  </div>
  <div>
  クリックしてアップロード
  </div>
  <%=f.file_field :item_image, id:"item-photo"%>

  <%# キャンプの様子%>
  <div>
  思い出を残そう！
  </div>
  <div>
  クリックしてアップロード
  </div>
  <%= f.file_field :images, id:"images" %>
    <%# if @tweet.images.attached?%>
    <%#end%>

  <%#コメント%>
  <div>コメント
  <%= f.text_area :comment, id:"comment"%>
  </div>
  
  <%# キャンプ場の場所%>
  <div>
  訪問先
  </div>
  <%= f.collection_select(:prefecture, Prefecture.all, :id, :name, {include_blank:"---"}) %>
  <%= f.text_field :place, id:"place"%>

  <%# 欲しいものリスト%>
  <div>
  欲しいものリスト
  </div>
  <%= f.text_field :wanted_list%>
  
  <div>
  </div>
  <%= f.submit%>
<%end%>
