<body class="show-body">
  <div class="show-main">
  
    <%# 訪問日/タイトル/キャンプ場の場所%>
    <div class="date-title">
      <%= @tweet.start_time.strftime("%Y-%m-%d")%>
      <%= @tweet.title%>
    </div>
    <div class="date-title">
        <%= @tweet.prefecture.name%>
        <%= @tweet.place %>
    </div>

    <%# メンバーとの写真%>
    <div class="camping-title">
    今日のキャンパー達
    </div>
    <div class="camping-member">
      <%= image_tag @tweet.image.variant(resize:"500x500") %>
    </div>

    <%# アイテム紹介%>
    <div class="todays-item">
    今日のアイテム
    </div>
    <div class="item-photo-show">
      <% if @tweet.item_image.attached?%>
        <%=image_tag @tweet.item_image.variant(resize:"500x500"), id:"item-photo"%>
      <% end %>
    </div>

  <%# キャンプの様子%>
    <div class="camping-memory">
      最高のキャンプ！！
    </div>
    <div class="memory-photo-show">
      <% if @tweet.memory_images.attached?%>
        <% @tweet.memory_images. each do |tweet|%>
          <%= image_tag tweet.variant(resize:"500x500")%>
        <%end%>
      <%end%>
    </div>

  <%# 欲しいものリスト%>
    <div class="list-show">
    欲しいものリスト
    </div>
    <div class="show-wanted">
        <% if @tweet.wanted_list.present?%>
        <%= @tweet.wanted_list%>
        <% end %>
    </div>

  <%#コメント%>
    <div class="show-memo">
    思い出メモ
    </div>
    <div class="comment-show">
      <%= form_with model: [@tweet, @comment], local: true do |f|%>
        <%= f.text_area :comment, placeholder: "コメント"%>
        <%= f.submit "comment"%>
      <% end %>
      <%if @comments.present? %>
        <% @comments.each do |comment|%>
          <p>
            <strong><%= link_to comment.user.nickname,"/users/#{comment.user_id}" %></strong>
            <%= comment.comment%>
            <%= link_to "delete", tweet_comment_path(comment.id), method: :delete %>
          </p>
        <%end%>
      <%end%>
    </div>



    <%#おまけコメント%>
    <div class="balloon3-right-btm">
      YOU HAVE GOOD MEMORY! :)
    </div>

    <%# ボタン %>
    <div class="next-back-home">
      <div class="back">
        <%= link_to "Back",tweets_path(current_user.id)%>
      </div>
      <div class="edit">
        <%= link_to "Edit", edit_tweet_path(@tweet.id), method: :get %>
      </div>
      <div class="delete">
        <%= link_to "Delete",tweet_path(@tweet.id), method: :delete%>
      </div>
  </div>
</body>