<body class="new-body">
  <div class= "main-new">
    <div class= "main-new2">
      <%=form_with model:@tweet, local: true do |f|%>

        <%# タイトル%>
        <div class="show-title">
        <br/>タイトル
        <%= f.text_field :title, placeholder:"今回のキャンプを一言で！"%>
        </div>

        <%# 訪問日%>
        <div class="show-title"><br/>日付
          <%= f.date_field :start_time, id:"start-time", class: "date-space"%>
        </div>

        <%# メンバーとの写真%>
        <div class="show-title-sub">
        <br/>今日のキャンパー達
        </div>
        <div id="image-list"></div>
          <%= f.file_field :image, id:"image" %>

        <%# アイテム紹介%>
        <div class="show-title-sub">
        <br/>今日のアイテム
        </div>
        <div id="image-item"></div>
          <%=f.file_field :item_image, id:"item-photo" %>

        <%# キャンプの様子%>
        <div class="show-title-sub">
        <br/>思い出を残そう！
        </div>
        <div class="image-box"></div>
          <%= f.file_field :memory_images, multiple: true, id:"tweet_image"%>
          <%#end%>

        <%# キャンプ場の場所%>
        <div class="show-title">
        <br/>訪問先
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank:"都道府県"}) %>
        <div>
          <%= f.text_field :place, placeholder:"キャンプ場名", id:"place", class: "camping-place"%>
        </div>

        <%# 欲しいものリスト%>
        <div class="show-title">
         <br/> 欲しいものリスト
        </div>
        <%= f.text_field :wanted_list, placeholder:"欲しいなと思ったもの", class: "wanted-list"%>
        <div class="submit-button">
        <%= f.submit%>
        </div>
      <%end%>
    </div>
  </div>
</body>