<div class="main">
  <%# 画面上部の「キャンプを持ち歩くアプリ」帯部分%>
  <div class= "title-contents">
    <h2 class= "service-title">
      キャンプの思い出を持ち歩くアプリ
    </h2>
    <p class= "service-explain">
      CAMP!CAMP!CAMP!はキャンプを愛する人のための
    </p>
    <p class="service-explain">
      思い出アプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「キャンプを持ち歩くアプリ」帯部分%>

  <%# ユーザーの悩みを指摘する部分%>
  <div class ="foo" data-delighter>
  <div class="main-confusion">
    <h2 class="title">
     せっかくの思い出がこんなことになっていませんか？
    </h2>
    <ul class="reason-list">
      <li class="list">
        <%= image_tag "confusion1.png", class:"list-pict" %>
        <h3 class="reason-list-text">
          すぐに写真が見つからない
        </h3>
      </li>
      <li class="list">
        <%= image_tag "calender.png", class:"list-pict"%>
        <h3 class="reason-list-text">
          いつ頃行ったかわからない
        </h3>
      </li>
      <li class="list">
        <%= image_tag "no-place.png", class:"list-pict"%>
        <h3 class="reason-list-text">
          場所の名前が思い出せない
        </h3>
      </li>
    </ul>
  </div>
  <%# /ユーザーの悩みを指摘する部分%>

  <%# アピールポイント%>
  <div class="appeal-point">
    <h2 class="ap-title">
      キャンパーの集い場
    </h2>
    <p class="ap-explain">
      日本に1つしかないキャンパー専用アプリ
    </p>
    <p class="ap-explain">
      楽しいキャンプを1つのアプリで管理！
    </p>
    <p class="ap-explain">
      誰とどこに行ったか一目瞭然！
    </p>
  </div>

  <%# /アピールポイント%>

  <%# CAMP!CAMP!CAMP!の機能紹介部分%>
  <div class="main-function">
    <h2 class="title">
      CAMP!CAMP!CAMP!の機能
    </h2>
    <ul class="function-list">
      <li class="list">
        <%= image_tag "tent1.png", class:"list-pict"%>
        <h3 class="function-list-text">
          最新のキャンプ記録をすぐに確認
        </h3>
      </li>
      <li class="list">
        <%= image_tag "member1.jpg", class:"list-pict"%>
        <h3 class="function-list-text">
          キャンプメンバーとの思い出をまとめて保存！
        </h3>
        <p class="function-list-text">
          メンバーとの共有でさらに楽しく！
      </li>
      <li class="list">
        <%= image_tag "item1.png", class:"list-pict"%>
        <h3 class="function-list-text">
          使用アイテムの記録が取れる！
        </h3>
      </li>
      <li class="list">
        <%= image_tag "map.png", class:"list-pict"%>
        <h3 class="function-list-text">
          行先を記録して、検索もできる！
        </h3>
      </li>
    </ul>
  </div>
  <%# /CAMP!CAMP!CAMP!の機能紹介部分%>
  <%# footer%>
  <div class="footer-main">
    <h2 class="footer-title">
      キャンプ好きなら必須の思い出アプリ
    </h2>
    <h2 class="footer-download">
      今すぐ無料ダウンロード！
    </h2>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
</div>

</div>
